{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            Create Account
        {% endblock title %}
    </head>
    <body>
        <main>
            {% block content %}
                <div class="task-form">
                    <h1>Create a new task</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Create</button>
                    </form>
                </div>
            {% endblock content %}
        </main>
    </body>
</html>
