{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            Document
        {% endblock title %}
    </head>
    <body>
        <main>
            {% block content %}
                <div class="project-detail">
                    <h1>{{ project_object.name }}</h1>
                    <p>{{ project_object.description }}</p>
                    <h2>Tasks</h2>
                    <a href="{% url "create_task" %}">Create a new task</a>
                    {% if project_object.tasks.all %}
                        <table>
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Assignee</td>
                                    <td>Start date</td>
                                    <td>Due date</td>
                                    <td>Is completed</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in project_object.tasks.all %}
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.assignee }}</td>
                                        <td>{{ task.start_date }}</td>
                                        <td>{{ task.due_date }}</td>
                                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                                        <a href="{% url 'create_notes' task.id %}">Create Note</a>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                {% endblock content %}
            </div>
        </main>
    </body>
</html>
