{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}
            My Projects
        {% endblock title %}
    </head>
    <body>
        <main>
            {% block content %}
                {% if projects %}
                    <div class="project-list">
                        <h1>My Projects</h1>
                        <p>
                            <a href="{% url "create_project" %}">Create a new project</a>
                        </p>
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of tasks</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>
                                            <a href="{% url "show_project" project.id %}">{{ project.name }}</a>
                                        </td>
                                        <td>{{ project.tasks.all|length }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div>
                        <h1>My Projects</h1>
                        <p>You are not assigned to any projects</p>
                    </div>
                {% endif %}
            {% endblock content %}
        </main>
    </body>
</html>
